.about {
    margin-top: 178px;
}

.about-cont {
    display: flex;
    margin-bottom: 36px;
}

.about-us {
    position: absolute;
    font-family: Gotham Pro;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.5px;
}

.about-box {
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 175px;
    width: 890px;
    height: 528px;
    z-index: 1;
}

.about-box-txt {
    font-family: gothampro-medium;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.2px;
    width: 846px;
    height: 140px;
}

.about-img {
    position: absolute;
    width: 1043px;
    height: 736px;
    right: 50px;
}

.philosophy {
    margin-top: 476px;
}

.philosophy-title {
    font-family: gothampro_bold;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.5px;
    width: 900px;
    height: 140px;
}

.philosophy-box {
    width: 1281px;
    height: 152px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    background: rgba(217, 217, 217, 0);
    margin: 119px 0 160px;
}

.philosophy-box-txt {
    font-family: gothampro-medium;
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.2px;
    padding: 34px 58px;
}

.philosophy-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 98px;
}

.philosophy-content-box {
    width: 746px;
    height: 300px;
    display: flex;
    padding: 36px 26px;
}

.philosophy-content-box-bg {
    background: rgba(255, 255, 255, 0.1);
}

.philosophy-num {
    width: 53px;
    height: 53px;
    border-radius: 52px;
    background: rgb(251, 223, 0);
}

.philosophy-num-txt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: gothampro-medium;
    font-size: 38px;
    font-weight: 400;
    line-height: 150%;
}

.philosophy-content-wrap {
    margin-left: 12px;
    width: 625px;
}

.philosophy-content-title {
    font-family: gothampro_bold;
    font-size: 38px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
}

.philosophy-content-txt {
    font-family: gothampro-medium;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.concept-box {
    display: flex;
    margin-top: 173px;
}

.concept-content {
    margin-bottom: 190px;
    margin-right: 113px;
}

.concept-title {
    font-family: gothampro_bold;
    width: 730px;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.5px;
    margin-bottom: 140px;
}

.concept-txt {
    font-family: gothampro-medium;
    font-size: 20px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: -0.2px;
    width: 836px;
}

.concept-wrap-img {
    width: 568px;
    height: 568px;
    position: absolute;
}

.concept-wrap-txt {
    position: relative;
    font-family: gothampro-medium;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: -0.1px;
    width: 200px;
}

.concept-wrap-txt-1 {
    top: 132px;
    right: 50px;
}

.concept-wrap-txt-2 {
    font-family: gothampro_italic;
    font-weight: bold;
    top: 417px;
    left: 22px;
}

.concept-wrap-txt-3 {
    top: 393px;
    left: 323px;
}

.concept-wrap-txt-4 {
    top: 221px;
    left: 510px;
}