.header {
    position: relative;
    z-index: 1;
    padding: 27px 63px 0 63px;
    display: flex;
    align-items: center;
}

.nav-list {
    font-family: gothampro_regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    display: flex;
    margin-left: 131px;
    margin-right: 138px;
    width: 933px;
    color: rgb(254, 254, 254);
    justify-content: space-between;
}

.nav-item {
    cursor: pointer;
}

.header-btn {
    font-family: gothampro_bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 19px;
    background-color: transparent;
    margin: 10px 0px;
    width: 336px;
    height: 70px;
    border: 1px solid rgb(254, 254, 254);
    color: rgb(254, 254, 254);
}

.header-btn:hover {
    background: rgb(194, 194, 194);
    transition: 0.7s;
    color: #020202;
}